
/*COLORS*/
$white: #fff;
$black: #333;
$pink : #e07384;
$grey1 : #ccc;
$grey2: #999;
$grey3: #f8f8f8;

$lblue: #c4cff2;
$blue: #99ace9;
$hblue : #53b0ff;
$dblue: $pink;
$red: #fa5560;
$lgrey: #ddd;

$block-mb: 130px;
/** Common styles **/

html {
	*:focus {
		outline: none;
	}
	line-height : 0!important;
}
body{
	transition: 0.3s;
	color: #999;
	font-size: 14px;
	font-family: 'Roboto Medium';
	background-color: #f8f8f8;
}
@media (min-width: 480px) {
	.container {
		width: 1200px;
	}
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto Light';
	color: $black;
}
input,textarea{
	&::placeholder {color:$grey2;font-size:14px;vertical-align:middle;display:inline-block;font-family:'Roboto v15';}
}
label{
	font-family: 'Roboto v15';
	font-size: 13px;
	text-transform: uppercase;
}
a{
	color: $black;
	transition: 0.3s;
	&:hover, &:focus{
		color: $black;
		outline: none;
	}
}
.tx {
	&__70 {
		font-size : 70px;
	}
	&__40 {
		font-size : 40px;
	}
	&__24 {
		font-size : 24px;
	}
	&__20 {
		font-size : 20px;
		line-height: 1.3em;
	}
	&__16 {
		font-size : 16px;
	}
	&__14 {
		font-size : 14px;
	}
	&__12 {
		font-size : 12px;
	}
}
.pink{
	color: $pink;
}
.required{
	color: red;
}
.flexbox{
	display: flex;
}
.valign{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.btn{
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 0;
	background: none;
	border: 1px solid transparent;
	transition: 0.5s;
}
.btn-grey{
	color: $black;
	background: $grey3;
	border: 1px solid $grey3;
	padding: 15px 30px;
	&:hover,&:focus{
		color: $black;
		text-decoration: none;
		background: $white;
		border: 1px solid $black;
		outline: none;
	}
}
.btn-buy{
	width: 100%;
	display: block;
	color: $black;
	padding: 25px;
	transition: 0.3s;
	&:hover{
		color: $white;
		text-decoration: none;
		background: $black;
		border: 1px solid $black;
	}
}
.btn-default{
	color: $white;
	background: $black;
	border: 1px solid $black;
	padding: 15px 30px;
	&:hover,&:focus{
		color: $black;
		text-decoration: none;
		background: $white;
		border: 1px solid $black;
		outline: none;
	}
}
.btn-primary{
	color: $white;
	background: $pink;
	border: 1px solid $pink;
	/*font-family: 'Roboto v15';*/
	padding: 15px 20px;
	&:hover,&:focus{
		color: $pink;
		text-decoration: none;
		background: $white;
		border: 1px solid $pink;
		outline: none;
	}
}

.form-control{
	border-radius:0;
	height: 40px;
	border: 0;
	background: $grey3;
	box-shadow: none;
	&:focus{
		border-color: #ccc;
		box-shadow: 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
	}
}
.hidden {
	display : none;
}
.tags {
	padding-bottom : 25px;
	&--pink {
		.tag {
			background : #e6e9ee;
			&--active {
				background-color :$pink;
				color: white;
			}
		}
	}
}
.tag {
	background : #e6e9ee;
	color : $pink;
	display : inline-block;
	border-radius : 40px;
	font-size: 16px;
	font-family: 'Roboto Medium';
	line-height : 30px;
	padding : 0 10px;
	transition : all 0.2s ease-out;
	margin :0 5px 2px;
	cursor : pointer;
	&:hover {
		color : #fff;
		background-color :$pink;
		text-decoration: none;
	}
	&--small {
		font-size: 14px;
		line-height: 22px;
		margin: 2px;
		padding: 0 8px;
	}
}

.slick-prev,.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 36px;
	height: 36px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	-webkit-transition: 0.5s;
	transition: 0.5s;
    &:before{
		display: none;
	}
	&:hover{
		opacity:0.7;
	}
}
.slick-prev {
	left: -25px;
	z-index: 99;
	background: url(../template/img/icon-prev.png) no-repeat;
	&:hover,&:focus{
		background: url(../template/img/icon-prev.png) no-repeat;
	}
}
.slick-next {
	right: -45px;
	z-index: 99;
	background: url(../template/img/icon-next.png) no-repeat;
	&:hover,&:focus{
		background: url(../template/img/icon-next.png) no-repeat;
	}
}
.slick-dots{
	position: absolute;
	bottom: 10px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
	li{
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		button {
			font-size: 0;
			line-height: 0;
			display: block;
			width: 17px;
			height: 17px;
			padding: 4px;
			cursor: pointer;
			color: transparent;
			border: 1px solid $grey1;
			border-radius: 50px;
			background: $white;
			&:hover,&:focus{
				outline: none;
			}
		}
		&.slick-active button{
			background: $pink;
		}
	}
}
.slick-slide img {
	display: inline;
}

.toggle-cont {
	position: absolute;
	z-index: 1001;
	width: 320px;
	padding: 20px;
	right: 0px;
	left: auto;
	top: 100%;
	list-style-type: none;
	margin: 20px 0 0;
	border: 0;
	box-shadow: 0 0 20px 3px #ccc;
	color: $grey2;
	font-family: 'Roboto v15';
	background: $white;
	/* Landscape phones and smaller */

	&:after, &:before {
		bottom: 100%;
		left: 65%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 15px;
		margin-left: -15px;
	}
	&:before {
		border-color: rgba(204, 204, 204, 0);
		border-bottom-color: #ccc;
		border-width: 16px;
		margin-left: -16px;
	}
	.close{
		position: absolute;
		right: 15px;
		top: 10px;
		display: block;
		width: 16px;
		height: 15px;
	}
	.form-title{
		font-size: 25px;
		color: $black;
	}
	label {
		display: inline;
		max-width: 100%;
		margin-bottom: 0px;
		font-weight: 300;
		font-size: 11px;
	}

	.btn{
		width: 100%;
	}
	.dashed-link{
		color: $pink;
		border-bottom: 1px $pink dashed;
		&:hover,&:focus{
			text-decoration: none;
		}
	}
	.bottom-line{
		margin: 10px 0;
		text-align: center;
	}

}


.checkbox{
	margin: 15px 0 ;
	padding-left: 20px;
	input{
		cursor: pointer;
		opacity: 0;
		z-index: 1;

	}
	input.styled[type="checkbox"]:checked + label::after{
		font-family: 'FontAwesome';
		content: "\f00c";
		font-size: 14px;
		color: $white;
	}
	input.styled[type="radio"]:checked + label::after {
		font-family: 'FontAwesome';
		content: "";
		font-size: 14px;
		color: $white;
	}
	label{
		display:block;
		padding-left: 20px;
		color: $black;
		font-family: 'Roboto v15';
		.count{
			color: $grey1;
		}
		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			width: 24px;
			height: 24px;
			left: 0px;
			border: 1px solid #f8f8f8;
			border-radius: 0px;
			background-color: #f8f8f8;
			outline: none;
		}
		&:after {
			display: inline-block;
			position: absolute;
			width: 24px;
			height: 24px;
			left: 3px;
			top: 0;
			padding-left: 3px;
			padding-top: 1px;
			font-size: 11px;
			color: #555555;
		}
	}
}
.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
	background-color: $pink;
	border-color: $pink;
	cursor: pointer;
}
.form-horizontal .checkbox{
	padding-top: 0;
}

.radio{
	margin: 15px 0;
	padding-left: 20px;
	input{
		cursor: pointer;
	}
	input.styled[type="radio"]:checked + label::after {
		font-family: 'FontAwesome';
		content: "";
		font-size: 14px;
		color: $white;
		background-color: #e07384;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
		background-color: #e07384;
	}
	label{
		display:block;
		vertical-align: middle;
		position: relative;
		padding-left: 20px;
		color: $black;
		font-family: 'Roboto v15';
		.count{
			color: $grey1;
		}
		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			width: 25px;
			height: 25px;
			left: 0;
			margin-left: -20px;
			border: 1px solid #cccccc;
			border-top-color: rgb(204, 204, 204);
			border-right-color: rgb(204, 204, 204);
			border-bottom-color: rgb(204, 204, 204);
			border-left-color: rgb(204, 204, 204);
			border-radius: 50%;
			background-color: #fff;

			outline: none;
		}
		&:after {
			left: 7px;
			top: 7px;
			display: inline-block;
			position: absolute;
			content: " ";
			width: 11px;
			height: 11px;
			margin-left: -20px;
			border-radius: 50%;
			background-color: #555555;
			-webkit-transform: scale(0, 0);
			-ms-transform: scale(0, 0);
			-o-transform: scale(0, 0);
			transform: scale(0, 0);
			-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
			-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
			-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
			transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
		}


	}
	input[type="radio"]{
		opacity: 0;
		z-index: 1;
	}
	input[type="radio"]:checked + label::before {
		border-color: #e07384;
	}
	input[type="radio"]:checked + label::after {
		background-color: #e07384;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);

	}
}
section{
	margin: 30px 0;
}
.section-title {
	text-align: center;
	color: $black;
	/*text-transform: capitalize;*/
	font-family: 'Roboto Light';
	margin-bottom: 20px;
	font-size: 35px;
}
%text-input-style {
	vertical-align: top;
	border-radius: 3px;
	border: 1px solid #dedede;
	font-size: 18px;
	background: #fff;
	color: #000;
	height: 40px;
	text-align: left;
	padding: 0 10px;
	z-index: 6;
	transition: all 0.2s ease-out;
	width : 100%;

	&:focus {
		border-color : $hblue;
	}
	&.error {
		border-color : #ff0000;
		& + .form__input-error{
			opacity : 1;
		}
	}
}
.input {
	font-size : 20px;
	transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	border: 1px solid #e3f1ff;
	border-radius: 3px;
	background : #e3f1ff;
	padding: 0 10px;
	line-height: 50px;
	height: 50px;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	font-weight: 400;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
	&:focus {
		border: 1px solid #d8d8d8;
		background : #fff;
	}
	&:hover {
		border: 1px solid #d8d8d8;
	}
	&.error {
		border: 1px solid $red;
	}
	&.active {
		background: #fff;
	}
}

.form {
	position: relative;
	&__title {
		font-size : 34px;
		font-weight : bold;
		margin-bottom: 24px;
	}
	&__sub-title {
		font-size : 24px;
		font-weight : bold;
		margin-bottom : 8px;
	}
	&__annotation {
		margin-top: 20px;
		color: #6d6d6d;
		font-size: 12px;
		line-height: 14px;
	}
	&__group {
		margin-bottom : 40px;
		&:last-child {
			margin-bottom : 0;
		}
	}
	&__b {
		&--one {
			margin-bottom : 0 !important;
			padding-bottom : 0 !important;
		}
		&--two-col{
			position: relative;
			@include clearfix();
			.col{
				float: left;
				width: 48%;
				position: relative;
				&:nth-child(1){
					margin-right: 2%
				}
				&:nth-child(2){
					margin-left: 2%
				}
			}
		}
	}

	&__message {
		color: #ec2727;
		margin-bottom: 15px;
	}

	// file input
	&__file-input-b{
		position: relative;
		input[type=file] {
			position: absolute;
			top: 0;
			right: 0;
			filter: alpha(opacity=0);
			opacity: 0;
			margin: 0;
			padding: 0;
		}
		a{
			.icon-clip{
				&:before{
					font-size: 15px;
				}
			}
		}
		a > label {
			/* inherit the hand cursor from the a tag */
			cursor:inherit;
			border-bottom: 1px dotted #ddd;
		}

		a:hover {
			color:red;
		}
	}
	// text / textarea input

	&__select-input-b {
		.select2{
			width: 100% !important;
		}
		.select2-selection{
			&--single {
				box-sizing: border-box;
				width: 100% !important;
				cursor: pointer;
				display: block;
				height: 50px;
				border-radius: 0px;
				user-select: none;
				-webkit-user-select: none;
			}
			&__arrow{
				top: 11px !important;
			}
			&__rendered {
				display: block;
				padding-top: 11px;
				padding-left: 8px;
				padding-right: 20px;
				color: #000 ;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&__clear {
				position: relative;
			}
		}


		&[dir="rtl"] {
			.select2-selection--single {
				.select2-selection__rendered {
					padding-right: 8px;
					padding-left: 20px;
				}
			}
		}


		position : relative;
		margin-bottom : 20px;
		&:last-child {
			margin-bottom : 0;
		}
		&:last-of-type {
			//margin-bottom : 0;
		}
		&:before {
			position: absolute;
			top: 17px;
			right: 13px;
			font-size: 14px;
			color: #00a651;
			opacity : 0;
			visibility : hidden;
			transition : all 0.1s ease-out;
		}
		&.valid {
			&:before {
				transition : all 0.2s ease-out;
				opacity : 1;
				visibility : visible;
			}
		}
		&--mb {
			&:last-of-type {
				margin-bottom : 20px;
			}
			margin-bottom : 20px;
		}
	}

	// text / textarea input
	&__text-input-b {
		@include icon(ok);
		position : relative;
		margin-bottom : 20px;
		&:last-child {
			margin-bottom : 0;
		}
		&:last-of-type {
			//margin-bottom : 0;
		}
		&:before {
			position: absolute;
			top: 17px;
			right: 13px;
			font-size: 14px;
			color: #00a651;
			opacity : 0;
			visibility : hidden;
			transition : all 0.1s ease-out;
		}
		&.valid {
			&:before {
				transition : all 0.2s ease-out;
				opacity : 1;
				visibility : visible;
			}
		}
		&--mb {
			&:last-of-type {
				margin-bottom : 20px;
			}
			margin-bottom : 20px;
		}
	}
	&__text-input-label {
		@extend .tx__20;
		color:#65a4e2;
		font-size:18px;
		position:absolute;
		pointer-events:none;
		left: 10px;
		top: 14px;
		transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
		span {
			font-family : sans-serif;
		}
	}
	&__text-input {
		@extend .input;
		display:block;
		outline:none;
		padding-top: 14px;
		transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
		&::-webkit-input-placeholder {color: rgba(174, 174, 174, 0);}
		&::-moz-placeholder          {color: rgba(174, 174, 174, 0);}/* Firefox 19+ */
		&:-moz-placeholder           {color: rgba(174, 174, 174, 0);}/* Firefox 18- */
		&:-ms-input-placeholder      {color: rgba(174, 174, 174, 0);}
		& + .form__text-input-label 	{
			left: 10px;
			top: 14px;
		}
		&.active, &:focus  {
			&::-webkit-input-placeholder {color:#aeaeae;}
			&::-moz-placeholder          {color:#aeaeae;}/* Firefox 19+ */
			&:-moz-placeholder           {color:#aeaeae;}/* Firefox 18- */
			&:-ms-input-placeholder      {color:#aeaeae;}
			& + .form__text-input-label 	{
				top:5px;
				font-size:14px;
			}
		}
		&.valid {
			border: 1px solid #00a651;
			background : #fff;
		}
		&.error {
			border-color: $red;
			background : #fff;
		}
		&--textarea {
			min-height     : 170px;
			height : auto;
			resize         : vertical;
			line-height    : 1.2;
			padding-top    : 22px;
			padding-bottom : 14px;
			//max-height     : 34px;
		}
		&--date{
			@include icon(calendar, after);
		}
	}

	// radio input
	&__radio-input-b {
		margin-bottom : 20px;
		&:last-child {
			margin-bottom : 0;
		}

	}
	&__radio-input-label {
		font-size : 20px;
		display : block;
		position : relative;
		padding-left : 24px;
		margin-bottom: 8px;
		&:last-child {
			//margin-bottom : 0;
		}
		&:before {
			position : absolute;
			left : 0;
			top : 4px;
			content : '';
			width : 16px;
			height : 16px;
			background : #848484;
			border : 4px solid #e0e0e0;
			display : block;
			border-radius : 50%;
			transition : all 0.2s ease-out;
		}
	}
	&__radio-input {
		display : none;
		&:checked {
			& + .form__radio-input-label {
				&:before {
					background : #fff;
					border : 4px solid $pink;
				}
			}
		}
	}

	// checkbox input
	&__checkbox-input-b {
		padding: 5px;
		border-radius: 3px;
		border: 1px solid transparent;

		&.valid {
			border: 1px solid #00a651;
		}
		&.error {
			border: 1px solid $red;
		}
	}
	&__checkbox-input-label {
		font-size : 20px;
		display : block;
		position : relative;
		padding-left : 24px;
		&:before {
			position : absolute;
			left : 0;
			top : 4px;
			content : '';
			width : 16px;
			height : 16px;
			background : #fff;
			border : 1px solid #c2c2c2;
			display : block;
			border-radius : 3px;
			transition : all 0.2s ease-out;
		}
		&--top {
			&:before {
				top: 0px;
			}
		}
		&--small {
			font-size: 14px;
		}
	}
	&__checkbox-input {
		display : none;
		&:checked {
			& + .form__checkbox-input-label {
				&:before {
					background : $pink;
					border-color : $pink;
				}

			}
		}
	}

	// number input
	&__number-input-b {
		position: relative;
		display : inline-block;

		//max-width: 110px;
		&:hover {
			.form__number, .form__number-minus, .form__number-plus {
				border-color: $pink !important;
			}
		}
		&--small {
			.form__number-input {
				height: 50px;
				width: 120px;
				padding: 0 38px;
				font-size: 30px;
				&-minus,&-plus {
					font-size : 24px;
					right: 0;
					width : 34px;
				}
			}
		}
	}
	&__number-input {
		@extend %text-input-style;
		height : 50px;
		width: 154px;
		border-color : #aeaeae;
		padding: 0 48px;
		text-align : center;
		font-size: 30px;
		font-weight : bold;
		-moz-appearance: textfield;
		-webkit-appearance: none;
		appearance: none;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&:focus {
			border-color : $pink;
			& + .form__number-input-minus {
				border-right-color: $pink;
				& + .form__number-input-plus {
					border-left-color: $pink;

				}
			}
		}
		&-minus {
			font-size : 34px;
			position: absolute;
			height: 50px;
			width: 44px;
			left: 0;
			top: 0;
			line-height: 53px;
			text-align: center;
			cursor: pointer;
			border-right: 1px solid #aeaeae;
			transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
			user-select: none;
			font-weight: bold;
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
			padding-top : 1px;
			&.maxed {
				cursor: default;
				color: #dbdbdb;
				&:active {
					color: #dbdbdb;
					background: none;
				}
			}
			&:active {
				background: $pink;
				color: #fff;
				border-color : $pink;
			}
		}
		&-plus {
			font-size : 34px;
			position: absolute;
			height: 50px;
			width: 44px;
			right: 0;
			top: 0;
			line-height: 53px;
			text-align: center;
			cursor: pointer;
			border-left: 1px solid #aeaeae;
			transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
			user-select: none;
			font-weight: bold;
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
			padding-top : 1px;
			&.maxed {
				cursor: default;
				color: #dbdbdb;
				&:active {
					color: #dbdbdb;
					background: none;
				}
			}
			&:active {
				background: $pink;
				color: #fff;
				border-color : $pink;
			}
		}

	}

	// rating

	//btn
	&__footer {
		border-top :2px solid #d7d7d7;
		padding-top : 32px;
	}

	&__input-b {
		margin-bottom : 10px;
		position : relative;
		display : block;
		padding-bottom : 20px;

	}
	&__input-name {
		font-size : 16px;
		display : block;
		color : #000;
		margin-bottom : 8px;

	}
	&__input-error {
		font-size : 12px;
		color : #f00;
		display : block;
		position : absolute;
		bottom : 0;
		left : 0;
		opacity : 0;
		transition : opacity 0.2s ease-out;
	}
	&__input-textarea {
		@extend %text-input-style;
		height : 100px;
		max-height :200px;
		resize: vertical;
		padding : 5px 10px;
	}
	&__input-text {
		@extend %text-input-style;
	}
	&__btn {
		border : 2px solid $hblue;
		background : #fff;
		color : $hblue;
		font-size : 20px;
		text-transform : uppercase;
		text-align : center;
		line-height: 43px;
		border-radius: 41px;
		display : block;
		padding: 2px 42px 0;
		white-space: nowrap;
		font-weight : bold;
		transition : all 0.2s ease-out;
		&:hover {
			background : $hblue;
			color : #fff;
		}
		&--center {
			margin-left : auto;
			margin-right : auto;
		}
	}
	&__send-fail {
		font-size: 20px;
		text-align: center;
		color: $red;
		max-width:500px;
		margin: 10px auto 0;
	}
	&__success {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		background: hsla(0, 0%, 100%, 0.98);
		padding: 60px 40px;
		align-items:center;
		flex-wrap: wrap;
		justify-content: center;
		opacity: 0;
		height: 0;
		bottom: 0;
		display: flex;
		overflow: hidden;
		transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
		z-index: -1;
		&.active {
			opacity: 1;
			bottom: 0;
			height: auto;
			z-index:2;
		}
	}
	&__success-title {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 30px;
	}
	&__success-text {
		font-size: 20px;
		text-align: center;
	}
	&__success-footer {
		border-top: 2px solid #ebf2f8;
		padding-top: 30px;
		margin: 0 -30px;
	}
}

.slider{display:inline-block;vertical-align:middle;position:relative}.slider.slider-horizontal{width:210px;height:20px}.slider.slider-horizontal .slider-track{height:10px;width:100%;margin-top:-5px;top:50%;left:0}.slider.slider-horizontal .slider-selection,.slider.slider-horizontal .slider-track-low,.slider.slider-horizontal .slider-track-high{height:100%;top:0;bottom:0}.slider.slider-horizontal .slider-tick,.slider.slider-horizontal .slider-handle{margin-left:-10px}.slider.slider-horizontal .slider-tick.triangle,.slider.slider-horizontal .slider-handle.triangle{position:relative;top:50%;transform:translateY(-50%);border-width:0 10px 10px 10px;width:0;height:0;border-bottom-color:#0480be;margin-top:0}.slider.slider-horizontal .slider-tick-container{white-space:nowrap;position:absolute;top:0;left:0;width:100%}.slider.slider-horizontal .slider-tick-label-container{white-space:nowrap;margin-top:20px}.slider.slider-horizontal .slider-tick-label-container .slider-tick-label{padding-top:4px;display:inline-block;text-align:center}.slider.slider-horizontal.slider-rtl .slider-track{left:initial;right:0}.slider.slider-horizontal.slider-rtl .slider-tick,.slider.slider-horizontal.slider-rtl .slider-handle{margin-left:initial;margin-right:-10px}.slider.slider-horizontal.slider-rtl .slider-tick-container{left:initial;right:0}.slider.slider-vertical{height:210px;width:20px}.slider.slider-vertical .slider-track{width:10px;height:100%;left:25%;top:0}.slider.slider-vertical .slider-selection{width:100%;left:0;top:0;bottom:0}.slider.slider-vertical .slider-track-low,.slider.slider-vertical .slider-track-high{width:100%;left:0;right:0}.slider.slider-vertical .slider-tick,.slider.slider-vertical .slider-handle{margin-top:-10px}.slider.slider-vertical .slider-tick.triangle,.slider.slider-vertical .slider-handle.triangle{border-width:10px 0 10px 10px;width:1px;height:1px;border-left-color:#0480be;border-right-color:#0480be;margin-left:0;margin-right:0}.slider.slider-vertical .slider-tick-label-container{white-space:nowrap}.slider.slider-vertical .slider-tick-label-container .slider-tick-label{padding-left:4px}.slider.slider-vertical.slider-rtl .slider-track{left:initial;right:25%}.slider.slider-vertical.slider-rtl .slider-selection{left:initial;right:0}.slider.slider-vertical.slider-rtl .slider-tick.triangle,.slider.slider-vertical.slider-rtl .slider-handle.triangle{border-width:10px 10px 10px 0}.slider.slider-vertical.slider-rtl .slider-tick-label-container .slider-tick-label{padding-left:initial;padding-right:4px}.slider.slider-disabled .slider-handle{background-image:-webkit-linear-gradient(top,#dfdfdf 0,#bebebe 100%);background-image:-o-linear-gradient(top,#dfdfdf 0,#bebebe 100%);background-image:linear-gradient(to bottom,#dfdfdf 0,#bebebe 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf',endColorstr='#ffbebebe',GradientType=0)}.slider.slider-disabled .slider-track{background-image:-webkit-linear-gradient(top,#e5e5e5 0,#e9e9e9 100%);background-image:-o-linear-gradient(top,#e5e5e5 0,#e9e9e9 100%);background-image:linear-gradient(to bottom,#e5e5e5 0,#e9e9e9 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5',endColorstr='#ffe9e9e9',GradientType=0);cursor:not-allowed}.slider input{display:none}.slider .tooltip.top{margin-top:-36px}.slider .tooltip-inner{white-space:nowrap;max-width:none}.slider .hide{display:none}.slider-track{position:absolute;cursor:pointer;background-image:-webkit-linear-gradient(top,#f5f5f5 0,#f9f9f9 100%);background-image:-o-linear-gradient(top,#f5f5f5 0,#f9f9f9 100%);background-image:linear-gradient(to bottom,#f5f5f5 0,#f9f9f9 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);border-radius:4px}.slider-selection{position:absolute;background-image:-webkit-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:-o-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:linear-gradient(to bottom,#f9f9f9 0,#f5f5f5 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9',endColorstr='#fff5f5f5',GradientType=0);-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:4px}.slider-selection.tick-slider-selection{background-image:-webkit-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:-o-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:linear-gradient(to bottom,#89cdef 0,#81bfde 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef',endColorstr='#ff81bfde',GradientType=0)}.slider-track-low,.slider-track-high{position:absolute;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:4px}.slider-handle{position:absolute;top:0;width:20px;height:20px;background-color:#337ab7;background-image:-webkit-linear-gradient(top,#149bdf 0,#0480be 100%);background-image:-o-linear-gradient(top,#149bdf 0,#0480be 100%);background-image:linear-gradient(to bottom,#149bdf 0,#0480be 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf',endColorstr='#ff0480be',GradientType=0);filter:none;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);border:0 solid transparent}.slider-handle.round{border-radius:50%}.slider-handle.triangle{background:transparent none}.slider-handle.custom{background:transparent none}.slider-handle.custom::before{line-height:20px;font-size:20px;content:'\2605';color:#726204}.slider-tick{position:absolute;width:20px;height:20px;background-image:-webkit-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:-o-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:linear-gradient(to bottom,#f9f9f9 0,#f5f5f5 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9',endColorstr='#fff5f5f5',GradientType=0);-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;filter:none;opacity:.8;border:0 solid transparent}.slider-tick.round{border-radius:50%}.slider-tick.triangle{background:transparent none}.slider-tick.custom{background:transparent none}.slider-tick.custom::before{line-height:20px;font-size:20px;content:'\2605';color:#726204}.slider-tick.in-selection{background-image:-webkit-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:-o-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:linear-gradient(to bottom,#89cdef 0,#81bfde 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef',endColorstr='#ff81bfde',GradientType=0);opacity:1}
@media (max-width: 480px) {
	.toggle-cont {
		position: absolute;
		z-index: 1001;
		width: 100%;
		padding: 20px;
		right: 0;
		left: 0;
		top: 0;
		list-style-type: none;
		margin: 0;
		border: 0;
		color: $grey2;
		font-family: 'Roboto v15';
		background: $white;
		/* Landscape phones and smaller */

		&:after, &:before {
			bottom: 100%;
			left: 65%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			display: none;
		}

		.close{
			position: absolute;
			right: 15px;
			top: 10px;
			display: block;
			width: 16px;
			height: 15px;
		}
		.form-title{
			font-size: 25px;
			color: $black;
		}
		label {
			display: inline;
			max-width: 100%;
			margin-bottom: 0px;
			font-weight: 300;
			font-size: 11px;
		}

		.btn{
			width: 100%;
		}
		.dashed-link{
			color: $pink;
			border-bottom: 1px $pink dashed;
			&:hover,&:focus{
				text-decoration: none;
			}
		}
		.bottom-line{
			margin: 10px 0;
			text-align: center;
		}

	}
	.slick-prev {
		left: 0px;
	}
	.slick-next {
		right: -25px;
	}
	h1{
		font-size: 28px;
	}
	h2{
		font-size: 22px
	}
	.img-responsive{
		display: inline-block;
	}
}