
.header{
	.top-line{
		background: $black;
		margin-bottom: 30px;
		.delivery-text{
			color: $grey2;
			text-transform: uppercase;
			font-family: 'Roboto v15';
			margin-right: 50px;
			font-size:13px;

		}
		.worktime{
			font-family: 'Roboto v15';
			font-size:13px;
		}
		.phone {
			font-size: 19px;
			color: $white;
			font-family: 'Roboto Medium';
			.fa-phone{
				color: $pink;
			}
		}
	}

	.logo-line,.nav-line{
		background: $white;
		.row{
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	.logo-line{
		padding: 10px 30px;
	}
	.search-block{
		padding: 0 20px;
		position: relative;
		input{
			border-radius: 30px;
			background: #fafafa;
			display: inline-block;
			width: 300px;
			border: 0;
			box-shadow: none;
			padding: 10px 25px;
			height: auto;
			&::placeholder {color:$grey2;font-size:14px;vertical-align:middle;display:inline-block;font-family:'Roboto v15';}
		}
		button{
			margin-left: -45px;
			display:inline;
			color: $black;
			background:transparent;
			border: 0;
			font-size: 17px;
		}
		#search-results {
			position: absolute;
			top: 35px;
			left: 10px;
			padding: 10px;
			list-style: none;
			z-index: 999;
			width: 95%;
			li {
				background: #fff;
				border: 1px solid #e6e6e6;
				padding: 3px;
				.img-holder {
					float: left;
					width: 25%;
				}
				.content-holder {
					float: left;
					width: 75%;
					padding-left: 10px;
				}
				h6 {
					margin: 5px 0;
					color: #333;
				}



			}

		}


	}
	nav{
		border-top: 2px solid #fbfbfb;
		/*padding: 10px 0;*/
		.navbar-nav{
			.fa-bars{
				color: $pink;
				/*font-size: 18px;*/
				margin-right:5px;
			}
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			float: none;
			a{
				text-transform: uppercase;
				font-family: 'Roboto v15';
			}

		}
	}
	.auth{
		position: relative;
		.links-block a{
			font-family: 'Roboto v15';
			border-bottom: 1px $black dashed;
			&:hover{
				text-decoration: none;
			}
		}

	}
	.wishlist-header{
		margin-left: 100px;
		position: relative;
		.total{
			position: absolute;
			width: 23px;
			height: 23px;
			background: $pink;
			border-radius: 30px;
			color: $white;
			text-align: center;
			top: -10px;
			right: -17px;

		}
	}
	.basket{
		position: relative;
		&__total{
			position: absolute;
			width: 23px;
			height: 23px;
			background: $pink;
			border-radius: 30px;
			color: $white;
			text-align: center;
			top: -10px;
			right: -17px;

		}
		.toggle-cont {
			&:after, &:before {
				bottom: 100%;
				left: 85%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #fff;
				border-width: 15px;
				margin-left: -15px;
			}
			&:before {
				border-color: rgba(204, 204, 204, 0);
				border-bottom-color: #ccc;
				border-width: 16px;
				margin-left: -16px;
			}
			position: absolute;
			z-index: 1001;
			min-width: 265px;
			padding: 0;
			right: -30px;
			left: auto;
			top: 100%;
			list-style-type: none;
			color: $grey1;
			margin: 20px 0 0;
			border: 0;
			box-shadow: 0 0 20px 3px #ccc;
			background: $white;
			.basket-item{
				padding: 15px;
				border-bottom: 1px solid #f1f1f1;
				.image,.text{
					float: left;
					width: 50%;
					padding: 10px;
				}
				.text{
					.title{
						color: $black;
						font-family:'Roboto v15';
						text-transform: uppercase;
						font-size: 17px;
					}
					.sum{
						font-family: 'Roboto Light';
						color: $black;
					}
				}
			}
			.button-item{
				.btn{
					width: 100%;
				}
			}
		}

	}
}

.banner{
	.slide{
		position: relative;
	}
	.text{
		font-family: 'Roboto v15';
		position: absolute;
		right: 15%;
		top: 15%;
		width: 30%;
		.banner-header{
			font-family: 'Roboto Light';
			font-size: 40px;
			color: $black;
		}
		.btn{
			padding: 12px 35px;
			margin-top: 10px;
		}
	}
}
.pluses{
	font-family:'Roboto v15';
	.title{
		text-transform: uppercase;
		color: $black;
	}
}
.categories{
	display:flex;

	&__link{
		display: block;
		position: relative;
		float:left;
		margin: 7px 5px;
		transition:0.5s;
		&:hover {
			transform: scale(1.02);
		}
	}
	.text{
		position: absolute;
		top: 35px;
		left: 35px;
		.title{
			font-family: 'Roboto light';
			font-size: 27px;
			line-height: 1.3;
		}
		.subtitle{
			color: $grey2;
			font-family:'Roboto v15';
			max-width: 170px;
			margin: 25px 0;
		}
		.total{
			color: $grey2;
			font-family:'Roboto v15';
			max-width: 170px;
			margin: 15px 0;
		}
	}
	.accesories .text{
		top: auto;
		bottom: 30px;
	}
	.picture-block{
		flex: 1 0 295px;
	}
}
.item{
	position: relative;
	margin: 15px 0;
	background: $white;
	transition: 0.5s;
	text-align: center;
	&:hover{
		box-shadow: 0 0 6px 4px #ccc;
	}
	.new{
		background: #29abe2;
		position: absolute;
		top: 20px;
		left: 20px;
		padding: 5px 15px;
		font-family: 'Roboto v15';
		text-transform: uppercase;
		z-index: 999;
		color: $white;
	}
	.sale{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 76px;
		height: 76px;
		z-index: 999;
		background: url(/template/img/icon-sale.png);
	}
	.wishlist{
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 999;
		width: 18px;
		height: 16px;
		display: block;
		transition: all 0.5s ease;
		background: url(/template/img/icon-wishlist-item.png);
		&:hover,&.active{
			background: url(/template/img/icon-wishlist-item-active.png);
		}
	}

	.image{
		text-align: center;
		height: 270px;
		z-index:2;
	}
	.image:hover a .fastview {
		z-index:0;
		content: "";
		display: block;
		background: url("/template/img/icon-aim.png") no-repeat 50% 30%;
		width: 80px;
		height: 80px;
		position: absolute;
		z-index: 1;
		top: 25%;
		left: 35%;
	}


	.content{
		padding: 10px 0;
		.title{
			text-transform: uppercase;
			color: $black;
			font-size: 16px;
		}
		.description{
			font-family: 'Roboto v15';
			padding: 0 15%;
			min-height: 20px;
		}
	}
	.shop-block{
		border-top: 1px solid #efefef;
	}
	.price-block{
		float: left;
		width: 50%;
		text-align: center;
		border-right: 1px solid #efefef;
		&.reg{
			padding: 25px 0;
		}
		.half{
			padding: 8px 2px;
			&:first-of-type{
				border-bottom: 1px solid #efefef;
			}
			.price-type{
				font-family: 'Roboto Light';
			}
			.small.dashed{
				border-bottom:1px $grey3 dashed;
			}
		}
		.price{
			font-size: 14px;
			color: $black;
			margin: 0 3px;
		}
		.old-price{
			font-size: 11px;
			margin: 0 3px;
			text-decoration: line-through;
		}
	}
	.buy-block{
		float: left;
		width: 50%;
	}
	&.list{
		.content{
			height: 190px;
		}
		.image{
			height: auto;
			border-right: 5px solid #f8f8f8;
		}
		.shop-block{
			border: 0;
			border-left: 5px solid #f8f8f8;
		}
		.price-block,.buy-block{
			float: none;
			width: 100%;
			height: 88px;
			border: none;
			padding: 30px 0;
		}
	}
}
.items-carousel{
	padding: 15px 0;
}
.jumbotron{
	border-radius: 0 !important;
}
.selector,.tab-selector {
	ul{
		padding:0;
	}
	li{
		display: inline-block;
		&.active a{
			color: $black;
			border-bottom: 2px solid $black;
		}
		a{
			letter-spacing: 2px;
			text-transform: uppercase;
			color: #828282;
			&:hover,&:focus{
				text-decoration: none;
			}
			&.active{
				color: $black;
				border-bottom: 2px solid $black;
			}
		}

		&:first-of-type::before {
			content: "";
			margin: 0;
		}
		&::before {
			content: "•";
			color: $black;
			font-size: 16px;
			margin: 0 20px;
			vertical-align: top;
		}

	}
}
.carousel .item{
	margin:10px;
}
.last-news{
	background: $white;
	.header{
		padding: 25px;
		border-bottom: 2px solid #efefef;
		.arrows{
			.slick-next,.slick-prev{
				all: unset;
				position: relative;
				display: inline-block;
				padding: 5px 13px;
				background: #efefef;
				color: $black;
				&:hover,&:focus{
					color: #bbbbbb;
					cursor: pointer;
				}
			}
		}
	}
	.news-carousel{
		padding: 25px;
		.news-item{
			margin-right: 10px;
			.datetime {
				color: $white;
				background: $black;
				display: inline-block;
				padding: 5px 15px;
				margin-bottom: 10px;
			}
			.introtext{
				color: $black;
				font-family: 'Roboto v15';
			}
		}
	}
	h3{
		color: $black;
		margin: 0;
		padding: 0;
	}
}
.social-subscribe{
	.subscribe{
		background: $black;
		color: $white;
		padding: 25px;
		input{
			border-radius: 30px;
			padding: 10px 50px;
			background: $white url(/template/img/icon-mail.png) 25px 50% no-repeat;
			width: 99%;
			display: inline-block;
			&::-webkit-input-placeholder{color:#333333;font-size:12px;vertical-align:middle;display:inline-block;}
		}
		button{
			margin-left: -10%;
			display: inline-block;
			vertical-align: middle;
			background: transparent url(/template/img/icon-arrow-right.png) 0px 50% no-repeat;
			width: 14px;
			height: 11px;
			border: 0;

		}
	}
	.social{
		background: $pink;
		color: $white;
		padding: 25px;
		a{
			margin: 0 8px;
			color: $white;
			i{
				margin:5px 0;
			}
		}
	}
}
.about{
	background: $white;
	padding: 25px 10px;
	&__text {
		padding: 0 100px;
		font-family: 'Roboto v15';
		.more{
			text-decoration: underline;
		}
	}
	.picture{
		float: left;
		img{
			padding: 4px 5px;
		}
	}
}
.seo{
	font-family: 'Roboto v15';
	/*text-align: center;*/
	h1,h2{
		margin: 15px 0;
		text-align: center;
	}
}
.footer{
	background: $black;
	min-height: 50px;
	color: $grey2;
	font-family: 'Roboto v15';
	font-size: 13px;
	nav{
		border-bottom: 1px solid #999;
		ul{
			padding: 0;
			margin-top: 10px;
			margin-bottom: 10px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			li{
				&:first-of-type{
					list-style: none;
				}


				a{
					display: block;
					color: $grey1;
					text-transform: uppercase;
					padding: 10px 15px;
					font-size: 16px;
					transition: 0.5s;
					font-family: 'Roboto Medium';
					&:hover{
						color: $white;
					}
				}
			}
		}
	}
	&__copyright,&__payment,&__subscription{
		padding: 20px 15px;
		text-align: center;
	}
	&__subscription{
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		padding: 20px 55px;
	}
	/*form{
        margin-bottom: 10px;
    }*/
	input{
		border-radius: 30px;
		padding: 10px 50px;
		background: #393939 url("/template/img/icon-mail-w.png") 25px 50% no-repeat;
		width: 99%;
		display: inline-block;
		border: 0;
	}
	button {
		margin-left: -10%;
		display: inline-block;
		vertical-align: middle;
		background: transparent url("/template/img/icon-arrow-right-w.png") 0 50% no-repeat;
		width: 14px;
		height: 11px;
		border: 0;
	}
	&__phone {
		margin-top: 30px;
		font-size: 19px;
		color: $grey1;
		font-family: 'Roboto Medium';
		.fa-phone{
			color: $pink;
		}
	}
	.author{
		color: $pink;
	}
	&__worktime{
		text-transform: uppercase;
		font-size: 12px;
	}
}

.breadcrumb {
	ol{
		margin: 0;
		padding: 0 10px;
	}
	padding:15px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent;
	border-radius: 0px;
	font-family: 'Roboto Medium';
	font-size: 11px;
	text-transform: uppercase;
	li{
		display: inline-block;
	}
	li + li::before {
		padding: 0 5px;
		color: #999;
		content: "›";
		font-size: 13px;

	}

	a{
		color: $grey2;
	}
}

.catalog{

	.popup-show {
		position: absolute;
		right: -30px;
		top: 320px;
		z-index: 999;
		display:none;
		left: 260px;
		background: #fff;
		box-shadow: -2px 0 6px 2px #ccc;
		border: 1px solid #ccc;
		color: #e07384;
		font-family: 'Roboto v15';
		text-transform: none;
		padding: 12px 15px;
		&.active{
			display: block;
		}
		&:after, &:before {
			right: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-right-color: #fff;
			border-width: 12px;
			margin-top: -12px;
		}
		&:before {
			border-color: rgba(204, 204, 204, 0);
			border-right-color: #ccc;
			border-width: 13px;
			margin-top: -13px;
		}
	}

	.catalog-header{
		text-align: center;
		background: url(/template/img/women-bags.jpg) 0 0 no-repeat;
		padding: 20px 24%;
		font-family: 'Roboto v15';
		background-size: cover;
		h1{
			margin-top: 5px;

		}
	}
	.catalog-content{
		.catalog-settings{
			.nav{
				background:#fff;
				text-transform: uppercase;
				color: $black;
				float: none;
				width: 100%;
				.dropdown{
					padding: 0 30px;
					border-right: 5px solid #f8f8f8;
				}
				.view-select{
					display: flex;
				}
				li{

					.dropdown-toggle{
						display: inline-block;
						padding-top: 19px;
						padding-bottom: 20px;
					}
					.dropdown-menu{
						min-width: auto;
						right: 30px;
						left: unset;
					}
					a.active{
						color: $pink;
					}

				}
			}
		}
		.panel-group{
			padding-bottom: 15px;
			.panel{
				background: $white;
				box-shadow: none;
				margin-bottom: 15px;
				border: 0;
			}
			.panel-body{
				border: 0;
				font-family: 'Roboto v15';
				.btn{
					width: 100%;
				}
			}
			.panel-heading{
				display: block;
				border-radius: 0;
				border:0;
				color: $black;
				font-family: 'Roboto Medium';
				font-size: 17px;
				text-transform: uppercase;
				padding: 10px 30px;
				background: url(/template/img/icon-down.png) no-repeat 95% 50% $white;
				&:hover,&:focus,&:active{
					background: url(/img/icon-next.png) no-repeat 95% 50% $grey1;
					color: $white !important;
				}
				&.collapsed{
					background: url(/template/img/icon-down.png) no-repeat 95% 50% $white;
					&:hover,&:focus,&:active{
						background: url(/images/icon-next.png) no-repeat 95% 50% $grey1;
						color: $white !important;
					}
				}
			}

		}
		#catalog-filter{

			.slider.slider-horizontal {
				width: 210px;
				height: 20px;
				margin: 15px;
			}
			.slider-selection  {
				background: $pink;
			}
			.slider-handle  {
				border: 1px solid $grey1;
				cursor:pointer;
				background: rgba(237,237,237,1);
				background: -moz-linear-gradient(45deg, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 11%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(237,237,237,1)), color-stop(11%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(45deg, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 11%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(45deg, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 11%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(45deg, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 11%, rgba(255,255,255,1) 100%);
				background: linear-gradient(45deg, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 11%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1 );

				-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.55);
				-moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.55);
				box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.55);

			}
			.left,.right{
				margin: 15px 0;
				float: left;
				width: 50%;
				text-align: center;
				position: relative;
				.minus{
					background: url(/template/img/icon-minus.png) 50% 50% no-repeat;
					width: 11px;
					height: 2px;
					position: absolute;
					top: 50%;
					left: 95%;
				}
				input{
					display:inline;
					max-width: 70%;
					background:#f8f8f8;
					padding: 10px 10px;
					border: 0;
				}
			}

		}
	}
}

.pagination{
	margin: 0;
	padding: 15px 25px;
	display: flex;
	border-radius: 0;
	border: 0;
	background: $white;
	align-items: center;
	justify-content: space-between;
	.active{
		a,span{
			background: $black;
			border: 1px solid $black;
			&:hover{
				background: $pink;
				border: 1px solid $pink;
			}
		}
	}
	li{
		a{
			color: $black;
			background: $grey3;
			border: 1px solid $grey3;
			&:hover,&:focus{
				background: $pink;
				border: 1px solid $pink;
				color: $white;
			}
		}
		&:last-child {
			a,span{
				border-radius: 0;
			}
		}
		&:first-child {
			a,span{
				border-radius: 0;
				background: $grey3;
				border: 1px solid $grey3;
			}
		}
	}
}


.last-views{
	background: $white;
	.header{
		padding: 25px;
		border-bottom: 2px solid #efefef;
		.arrows{
			.slick-next,.slick-prev{
				all: unset;
				position: relative;
				display: inline-block;
				padding: 5px 13px;
				background: #efefef;
				color: $black;
				&:hover,&:focus{
					color: #bbbbbb;
					cursor: pointer;
				}
			}
		}
	}
	.views-carousel{
		padding: 25px;
		.views-item{
			margin-right: 10px;
			.title {
				font-family: 'Roboto Medium';
				color: $black;
				text-transform: uppercase;
			}
			.subtitle{
				color: $grey2;
				font-family: 'Roboto v15';
			}
			.price {
				font-family: 'Roboto Medium';
				color: $black;
				text-transform: uppercase;
			}
		}
	}
	h4{
		color: $black;
		margin: 0;
		padding: 0;
		font-family: 'Roboto Medium';
	}
}
.single-product{
	background: $white;
	.product-navigation{
		padding: 15px 40px;
		.prev{
			display: inline-block;
			position: relative;
			&:before{
				content: "\f0d9";
				font-family: 'FontAwesome';
				position: absolute;
				left: -20px;
				top: 30%;

			}
		}
		.next{
			display: inline-block;
			position: relative;
			&:after{
				content: "\f0da";
				font-family: 'FontAwesome';
				position: absolute;
				right: -20px;
				top: 30%;
			}
		}
		.title{
			text-transform: uppercase;
			/*font-family: 'Roboto v15';*/
		}
		.subtitle{
			color: $grey2;
			font-family: 'Roboto v15';
		}
	}
	.product-content{
		display: flex;
		border-top:2px solid $grey3;
		.gallery,.content{
			float: left;
			width: 50%;

		}
		.gallery{
			border-right:2px solid $grey3;
			padding: 20px;
			.thumbs{
				img{
					opacity: 0.6;
					cursor: pointer;
					&.slick-current{
						opacity:1;
					}
				}
			}
		}
		.content{
			display: flex;
			flex-direction: column;
			.text-block{
				flex: 1;
				padding: 20px;
			}
			font-family: 'Roboto v15';

			h1{
				text-transform: uppercase;
				font-family: 'Roboto Medium';
				margin-top: 0;
				margin-bottom: 25px;
			}
			.price-block{
				text-transform: uppercase;
				padding: 15px 0;
				.price{
					font-size: 25px;
					color: $black;
				}
				.old-price{
					font-size: 25px;
				}

			}
			.button-block{
				padding: 15px 0;
				.btn{
					width: 100%;
				}
			}
			.nav-tabs{
				li{
					a{
						text-transform: uppercase;
						font-family: 'Roboto Medium';
						color: $grey2;
						transition: 0s;
						border-bottom: 2px solid transparent;
						&:hover,&:focus{
							background: unset;
							border: none;
							border-radius: 0;
							border-bottom: 2px solid transparent;
						}
					}
					&.active{
						a{
							border: none;
							color: $black;
							border-bottom: 2px solid #333;
							&:hover,&:focus{
								background: unset;
								border: none;
								border-radius: 0;
								border-bottom: 2px solid #333;
							}
						}
					}
				}
			}
			.tab-content{
				padding: 15px 0;
			}
			.share-block{
				border-top: 2px solid $grey3;
				padding: 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				align-items: center;
				.wishlist{
					text-transform: uppercase;
					font-family: 'Roboto Medium';
					letter-spacing: 1px;
					background: url(/template/img/icon-wishlist-item.png) 0 50% no-repeat;
					padding-left: 30px;
					&.active{
						background: url(/template/img/icon-wishlist-item-active.png) 0 50% no-repeat;
					}
				}
			}
		}
	}

}
.checkout{
	h4{
		border-bottom: 2px solid $grey3;
		font-family: 'Roboto Medium';
		padding: 25px 0;
		margin: 0;
		font-size: 16px;
		text-transform: uppercase;
	}
	.radio{
		margin: 45px 0;
		input{
			cursor: pointer;
		}
		input.styled[type="radio"]:checked + label::after {
			font-family: 'FontAwesome';
			content: "";
			font-size: 14px;
			color: $white;
		}
		label{
			display:block;
			padding-left: 20px;
			color: $black;
			font-size: 17px !important;
			color: $grey2 !important;
			font-family: 'Roboto v15';
			p{
				font-family: 'Roboto v15';
				font-size: 13px;
				margin: 15px 0;
				text-transform: none;
			}
			.count{
				color: $grey1;
			}
			strong{
				color: $black
			}
			&:before {
				content: "";
				display: inline-block;
				position: absolute;
				width: 25px;
				height: 25px;
				left: 0;
				margin-left: -20px;
				border: 1px solid #cccccc;
				border-top-color: rgb(204, 204, 204);
				border-right-color: rgb(204, 204, 204);
				border-bottom-color: rgb(204, 204, 204);
				border-left-color: rgb(204, 204, 204);
				border-radius: 50%;
				background-color: #fff;

				outline: none;
			}
			&:after {
				left: 7px;
				top: 7px;

			}


		}
		input[type="radio"]:checked + label::before {
			border-color: #e07384;
		}
		input[type="radio"]:checked + label::after {
			background-color: #e07384;
		}



	}
	.step-content{
		background: $white;
		padding: 30px;
		.steps{
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					display: block;
					width: 25%;
					padding: 15px 0 15px 40px;
					position: relative;

					&.finished,&.active{
						background: $grey3;
						&:last-of-type{
							&:before{
								display: none;
							};
						};
						span{
							background: $grey2;
							color: $white;
						}
						&:before {
							left: 100%;
							top: 50%;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
							z-index: 999;
						}
						&:after {
							border-color: rgba(248, 248, 248, 0);
							border-left-color: #f8f8f8;
							border-width: 20px;
							margin-top: -20px;
						}
						&:before {
							border-color: rgba(248, 248, 248, 0);
							border-left-color: #f8f8f8;
							border-width: 30px;
							margin-top: -30px;
						}
					}
					&.active{
						span{
							background: $pink;
							color: $white;
						}
					}
					strong{
						font-family: 'Roboto Medium';
						color: $black;
						text-transform: uppercase;
						font-weight: 400;
						margin-left: 10px;
					}
					span{
						background: $grey3;
						width: 30px;
						height: 30px;
						color: $black;
						display: inline-block;
						border-radius: 30px;
						text-align: center;
						vertical-align: middle;
						padding-top: 3px;
					}
				}
			}
		}
		form{
			padding: 15px 0;
			label{
				font-family: 'Roboto v15';
				font-size: 13px;
				text-transform: uppercase;
			}
			input[type=text],input[type=email]{
				background: $grey3;
				border: 0;
				box-shadow: none;
				&:focus {
					border-color: #ccc;
					box-shadow: 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
				}
			}
		}
		.buttons-block{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.btn{
				width: 190px;
				text-align: center;
			}
			.btn-prev{
				color: $black;
				background: $grey3;
				border: 1px solid $grey3;
				padding: 15px 30px;
				&:hover,&:focus{
					color: $grey3;
					text-decoration: none;
					background: $black;
					border: 1px solid $grey3;
					outline: none;
				}
			}
		}

	}
	.cart-content{
		background: $white;
		/*padding: 30px;*/

		.products{
			padding: 0;
			margin: 0;
			list-style:none;
			.basket-item{
				padding: 15px;
				font-family:'Roboto v15';
				border-bottom: 1px solid #f1f1f1;
				.image{
					float: left;
					width: 40%;
					padding: 10px;
				}
				.text{
					float: left;
					width: 60%;
					padding: 10px;
				}
				.text{
					.title{
						color: $black;
						font-family:'Roboto v15';
						text-transform: uppercase;
						font-size: 17px;
					}
					.sum{
						font-family: 'Roboto Light';
						color: $black;
					}
				}
			}
		}
		.sums{
			list-style: none;
			padding: 0 30px;
			li{
				padding: 20px 0;
				font-family: 'Roboto Medium';
				border-bottom: 2px solid $grey3;
				text-transform: uppercase;
				&:last-of-type{border:0;}
				span{
					width: 50%;
				}
				.price{
					color: $black;
					font-size: 20px;
				}
				.total{
					color: $pink;
					font-size: 25px;
				}
			}
		}
	}
}
.cart{
	h4{
		font-family: 'Roboto Medium';
		padding: 0;
		margin-bottom: 15px;
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		span{
			color: $pink;
		}
	}
	.table-responsive{
		padding: 20px;
		background: $white;
		margin: 25px 0;
	}
	table{
		color: $black;
		padding: 20px;
		th{
			font-family: 'Roboto Medium';
			font-weight: normal;
			text-transform: uppercase;
			color: $grey2;
			font-size: 13px;
		}
		td{
			vertical-align: middle !important;
			font-family: 'Roboto v15';
		}
		.image,.text{
			width: 50%;
			float: left;
			font-family: 'Roboto v15';
		}
		.title{
			color: $black;
			font-family: 'Roboto Medium';
			text-transform: uppercase;
		}
		.subtitle{
			font-family: 'Roboto v15';
			color: $grey2;
		}
		.count{
			background: $grey3;
			padding: 10px;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			border: 0;
			width: 60px;
			margin: 0 5px;
			text-align: center;

		}
		.price{
			font-size: 20px;
			color: $black;
		}
		.total{
			font-size: 25px;
			color: $black;
		}
		tfoot{
			color: $grey2;
			font-family: 'Roboto Medium';
			.baseline{
				vertical-align: baseline !important;
			}
		}
		.promo-block{
			color: $grey2;
			text-transform: uppercase;
			font-family: 'Roboto Medium';
		}
		.promokod {
			background: #f8f8f8;
			border: none;
			padding: 10px 15px;
			width: 150px;
			margin-left: 20px;
		}
		.buttons{

			td{
				padding-top: 15px;
				i{
					vertical-align: baseline !important;
					margin: 0 5px;
				}
			}

		}
	}
}
.profile{
	.header,.forms{
		padding: 20px;
	}
	h3{
		font-size: 16px;
		font-family: 'Roboto Medium';
		text-transform: uppercase;
	}
	.header{
		h3{
			margin: 0;
			padding: 0;
		}
		border-bottom: 2px solid $grey3;
	}
	.form-group {
		margin-bottom: 15px;
		margin-top: 25px;
	}
	.content{
		background: $white;
		margin-top: 30px;
	}
	.forms{
		.btn-default {
			padding: 15px 80px;
			margin-top: 20px;
		}
	}


}
#content{
	.content{
		background: $white;
		padding: 50px 20px;
	}
}

.wishlist{
	table{
		margin-bottom: 0;
	}
	.table-responsive{
		margin: 0;
	}
}
.orders{
	padding: 20px;
	table{
		thead{
			th{
				font-family: 'Roboto v15';
				font-weight: normal;
				padding-left: 45px;
			}
		}
		tbody{
			.clickable{
				cursor: pointer;
				background: url(../img/chevron-active.png) no-repeat 1% 50% $white;
				color: $pink;
				&.collapsed{
					background: url(../img/chevron-default.png) no-repeat 1% 50% $grey3;
					color: $black;
				}
				&:hover{
					background: url(../img/chevron-hover.png) no-repeat 1% 50% $black;
					color: $white;
				}
				td{
					padding: 15px;
					padding-left: 45px;
					border-top: 0 !important;
				}
			}
			.hid{
				td{padding: 2px;}
			}
		}


	}
}
.modal {
	text-align: center;
}

.modal-dialog{
	display:inline-block;
	text-align:left;
	vertical-align:middle;
	width:auto;
}
#modalproduct{
	.modal-header{
		border: 0;
	}
	display:block !important;
	visibility:hidden;
	overflow-y:hidden;
	&.in{visibility:visible;}
	.single-product .product-navigation {
		display: none;
	}

}
.blogs{
	.content{
		background: $white;
		padding: 50px 20px;
		color: $black;
		font-family: 'Roboto v15';
	}
	.lead{
		font-family: 'Roboto Bold';
		font-size: 25px;
		color: $black;
	}
	.small{
		font-family: 'Roboto v15';
		font-size: 15px;
	}
}
#modalproduct .modal-dialog{width:1200px;}
#modalproduct .modal-dialog .modal-body{position:relative;min-height:600px;}
#modalproduct .modal-dialog .modal-body .container{width:100% !important;}
#modalproduct .modal-dialog .slick-list{height:100%;}
#modalproduct .modal-dialog .gallery{min-height:600px;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, a:focus{
	outline: none;
}
@media (max-width: 480px) {
	.callback, .phone {
		width: 50%;
		float: left;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #fff;
		a{
			color: #fff;
		}
	}
	.callback{
		float: left;
		background: $pink;
	}
	.phone {
		background: #333;
		color: $white;
		font-family: 'Roboto Medium';
		.fa-phone{
			color: $pink;
		}
	}
	.header{
		&__line2{
			background: $white;
			margin-top: 15px;
			height: 90px;
			.nav{
				margin-top: 20px;
				&__icon{
					color: $pink;
				}
			}
		}
		&__logo{
			margin-top: 30px;
		}
		.basket{
			display: block;
			padding: 30px 0;
			&__total{
				right: 25px;
				top: 15px;
			}
		}
	}
	.footer{
		background: $black;
		min-height: 50px;
		color: $grey2;
		font-family: 'Roboto v15';
		font-size: 13px;
		nav{
			border-bottom: 1px solid #999;
			ul{
				padding: 0;
				margin-top: 10px;
				margin-bottom: 10px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				li{
					&:first-of-type{
						list-style: none;
					}
					a{
						display: block;
						color: $grey1;
						text-transform: uppercase;
						padding: 5px 10px;
						font-size: 11px;
						transition: 0.5s;
						font-family: 'Roboto Medium';
						&:hover{
							color: $white;
						}
					}
				}
			}
		}
		&__copyright,&__payment,&__subscription{
			padding: 20px 15px;
			text-align: center;
		}
		&__subscription{
			border-left: 1px solid #999;
			border-right: 1px solid #999;
			padding: 10px 20px;
		}
		/*form{
            margin-bottom: 10px;
        }*/
		input{
			border-radius: 30px;
			padding: 10px 50px;
			background: #393939 url("/template/img/icon-mail-w.png") 25px 50% no-repeat;
			width: 99%;
			display: inline-block;
			border: 0;
		}
		button {
			margin-left: -10%;
			display: inline-block;
			vertical-align: middle;
			background: transparent url("/template/img/icon-arrow-right-w.png") 0 50% no-repeat;
			width: 14px;
			height: 11px;
			border: 0;
		}
		&__phone {
			margin-top: 30px;
			font-size: 19px;
			color: $grey1;
			font-family: 'Roboto Medium';
			.fa-phone{
				color: $pink;
			}
		}
		.author{
			color: $pink;
		}
		&__worktime{
			text-transform: uppercase;
			font-size: 12px;
		}
	}
	.categories{
		display: block;
		&__link{
			float:none;
		}
		.text{
			position: absolute;
			top: 25px;
			left: 25px;
			.title{
				font-size: 20px;
				line-height: 1.3;
			}
			.subtitle{
				color: $grey2;
				font-family:'Roboto v15';
				max-width: 170px;
				margin: 25px 0;
				font-size: 10px;
			}
			.total{
				color: $grey2;
				font-family:'Roboto v15';
				max-width: 170px;
				margin: 15px 0;
				font-size: 10px;
			}
		}
		.accesories .text{
			position: absolute;
			top: 25px;
			left: 25px;
		}
	}
	.about{
		&__text{
			padding: 0 10px;
		}
	}
	.selector,.tab-selector {

		li{
			font-size: 10px;
			display: inline-block;
			&::before {
				content: "•";
				color: $black;
				font-size: 12px;
				margin: 0 8px;
				vertical-align: top;
			}

		}
	}
	.single-product{

		.product-navigation{
			padding: 15px 40px;
			.prev{
				display: inline-block;
				position: relative;
				&:before{
					content: "\f0d9";
					font-family: 'FontAwesome';
					position: absolute;
					left: -20px;
					top: 30%;

				}
			}
			.next{
				display: inline-block;
				position: relative;
				&:after{
					content: "\f0da";
					font-family: 'FontAwesome';
					position: absolute;
					right: -20px;
					top: 30%;
				}
			}
			.title{
				text-transform: uppercase;
				/*font-family: 'Roboto v15';*/
			}
			.subtitle{
				color: $grey2;
				font-family: 'Roboto v15';
			}
		}
		.product-content{
			display: block;
			border: none;
			.gallery,.content{
				float: none;
				width: 100%;

			}
			.gallery{
				border-right:none;
				padding: 0;
				.thumbs{
					display: none;
					img{
						opacity: 0.6;
						cursor: pointer;
						&.slick-current{
							opacity:1;
						}
					}
				}
			}
			.content{

				h1{
					text-transform: uppercase;
					font-family: 'Roboto Medium';
					margin-top: 0;
					margin-bottom: 25px;
				}
				.price-block{
					text-transform: uppercase;
					padding: 15px 0;
					.price{
						font-size: 25px;
						color: $black;
					}
					.old-price{
						font-size: 25px;
					}

				}
				.button-block{
					&__btn{
						margin-bottom:10px;
					}
					padding: 15px 0;
					.btn{
						width: 100%;
					}
				}
				.nav-tabs{
					li{
						a{
							text-transform: uppercase;
							font-family: 'Roboto Medium';
							color: $grey2;
							transition: 0s;
							border-bottom: 2px solid transparent;
							font-size: 12px;
							padding: 3px 5px;
							&:hover,&:focus{
								background: unset;
								border: none;
								border-radius: 0;
								border-bottom: 2px solid transparent;
							}
						}
						&.active{
							a{
								border: none;
								color: $black;
								border-bottom: 2px solid #333;
								&:hover,&:focus{
									background: unset;
									border: none;
									border-radius: 0;
									border-bottom: 2px solid #333;
								}
							}
						}
					}
				}
				.tab-content{
					padding: 15px 0;
				}
				.share-block{
					border-top: 2px solid $grey3;
					padding: 20px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					align-items: center;
					.wishlist{
						text-transform: uppercase;
						font-family: 'Roboto Medium';
						letter-spacing: 1px;
						background: url(/template/img/icon-wishlist-item.png) 0 50% no-repeat;
						padding-left: 30px;
						&.active{
							background: url(/template/img/icon-wishlist-item-active.png) 0 50% no-repeat;
						}
					}
				}
			}
		}

	}
	.checkout{

		.step-content{
			background: $white;
			padding: 20px;
			.steps{
				ul{
					padding: 0;
					margin: 0;
					list-style: none;
					li{
						display: block;
						width: 25%;
						padding: 10px;
						position: relative;
						text-align: center;

						&.finished,&.active{
							background: $white;
							&:last-of-type{
								&:before{
									display: none;
								};
							};
							span{
								background: $grey2;
								color: $white;
							}
							&:before {
								display: none;
							}
							&:after {
								display: none;
							}

						}

						strong{
							font-family: 'Roboto Medium';
							color: $black;
							text-transform: uppercase;
							font-weight: 400;
							margin-left: 0px;
							font-size: 10px;
						}

					}
				}
			}

			.buttons-block{
				.btn{
					width: 150px;
					text-align: center;
				}

			}

		}
	}
	.item{
		.image{
			height: auto;
		}
	}
	.catalog{
		&__show-filters,&__show-sorting{
			display: block;
			font-size: 12px;
		}
		.catalog-header{
			background: none;
			padding: 0;
			&__img{
				display: inline-block;
				width: 100%;
			}
			&__catalog{
				margin-top: 15px;
				text-align: center;
			}
			&__description{
				color: #838383;
				font-family: Roboto;
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
			}

		}
		.catalog-content{
			.catalog-settings{
				.nav{
					margin: 15px 0px;
					padding-top: 10px;
					.dropdown {
						border-right: none;
					}
				}
			}

		}
		&__filter{
			margin-top: 20px;
		}
		.catalog-filter{
			&__close{
				display: block;
				background: $black;
				color: $white;
				text-align: center;
				width: 100%;
				padding: 10px 15px;
				font-size: 20px;
				margin-bottom: 15px;
			}
			&__sort-by{
				display: block;
				padding-left: 15px;
			}

		}
		.popup-show {
			left: 60px;
			&.active{
				display: block;
			}
		}

	}
}