@font-face {
	font-family: 'Roboto v15';
	src:  url('../fonts/roboto/roboto-v15.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	src:  url('../fonts/roboto/roboto-v15.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Bold';
	src:  url('../fonts/roboto/RobotoBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Light';
	src:  url('../fonts/roboto/RobotoLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Room Black';
	src:  url('../fonts/roboto/Room Black.otf') format('opentype');
}
@font-face {
	font-family: 'Roboto Medium';
	src:  url('../fonts/roboto/RobotoMedium.ttf') format('opentype');
}
