.icon-sprites {
	background : url(../img/sprites2.1.png) no-repeat; background-size : 71px 162px;
}


.icon {
	&-fb {
		@extend .icon-sprites;
		width : 31px;
		height : 31px;
		background-position : 0 0;
	}
	&-mk {
		@extend .icon-sprites;
		width : 55px;
		height : 43px;
		background-position : 0 -119px;
	}
	&-visa {
		@extend .icon-sprites;
		width               : 52px;
		height              : 18px;
		background-position : 0 -62px;
	}
	&-visa--bank {
		@extend .icon-sprites;
		width               : 60px;
		height              : 38px;
		background-position : 0 -80px;
	}
	&-vk {
		@extend .icon-sprites;
		width : 31px; height : 31px; background-position : -40px 0; }
	&-yad {
		@extend .icon-sprites;
		width : 20px; height : 25px; background-position : -51px -32px; }
}